@page
@model olm_insights_web.Pages.FailuresModel

<h2>Failure test</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <button type="submit" class="btn btn-default">Throw</button>
            </div>
        </form>
    </div>
</div>

}   